.payment {
    background-color: white;

}
.payment__container{
  box-shadow: 
    0 2.8px 2.2px rgba(0, 0, 0, 0.074),
    0 6.7px 5.3px rgba(0, 0, 0, 0.08),
    0 12.5px 10px rgba(0, 0, 0, 0.09),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072),
    0 41.8px 33.4px rgba(0, 0, 0, 0.086),
    0 100px 80px rgba(0, 0, 0, 0.12);
}
.payment__container > h1 {
    text-align: center;
    padding: 10px;
    font-weight: 400;
    background-color: rgb(234, 237, 237);
    border-bottom: 1px solid lightgray;
  }

.payment__container > h1 a {
    text-decoration: none;
}

.payment__section {
    display: flex;
    padding: 20px;
    margin: 0 20px;
    border-bottom: 1px solid lightgray;
}

.payment__title {
    flex: 0.2;
}

.payment__address, .payment__items, .payment__details {
    flex: 0.8;
    font-size:17px;
    font-weight: 600;
}
  
.payment__details > form {
    max-width: 400px;
  }

  .payment__details > h3 {
    padding-bottom: 20px;
  }


  .payment__details > form > div > button {
    background: #f0c14b;
    border-radius: 2px;
    width: 100%;
    height: 50px;
    font-weight: bolder;
    margin-top: 10px;
    border: none;
    font-size: 20px;
    color: #111;
    border-radius: 30px;
  }